// Define reusable variables

.toy-filter {
  display: flex;
  justify-content: space-between;
}

.toy-filter a {
  align-self: center;
  color: var(--primary-color);
}

.toy-list {
  list-style-type: none;
  display: grid;
  text-align: center;
}

.toy-preview {
  border: 0.5px solid rgb(221, 220, 220);
  border-radius: 10px;
  margin-inline-end: 2rem;
  margin-block-end: 1rem;
  padding: 20px;
}

.toy-preview button {
  margin-inline-end: 10px;
}

.toy-edit,
.form-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-edit {
  width: 500px;
  justify-content: space-between;
  height: 400px;
}

.form-edit-buttons {
  margin-block-start: 1rem;
  display: flex;
  justify-content: space-between;
}

.form-edit-buttons button {
  margin-inline-end: 1rem;
  padding: 1rem;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.form-edit-buttons button:hover {
  background-color: var(--secondary-color);
  border-color: inherit;
}

.details-buttons-container {
  display: flex;
  justify-content: space-between;
}

.toy-details {
  font-size: 20px;
}
