body {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-layout {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}
main {
  grid-column: 2;
}
footer {
  grid-column: 2;
}
img {
  width: 200px;
}
p {
  margin: 0;
}
